body {
  background: lightBlue;
  font-family: Arial;
}

input {
  padding: 5pt;
  margin: 8pt;
}

.column {
  display: flex;
  justify-content: space-evenly;
}

.account-card {
  display: flex;
  align-items: center;
}
